* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}
nav {
  width: 30vw;
  height: calc(100vh - 170px);
  position: fixed;
  left: 0;
  top: 170px;
  padding: 30px 70px 70px 0;
  overflow: scroll;
}
body > h1 {
  position: fixed;
  width: 30vw;
  top: 40px;
  margin-left: 35px;
  font-family: "Megrim", cursive;
  font-size: 50px;
}
h3 {
  margin-bottom: 0.5em;
}
ul {
  margin-bottom: 30px;
  list-style: none;
}
li {
  margin-bottom: 0.5em;
}
nav p {
  margin: 2em 2em 2em 30px;
  font-family: sans-serif;
  color: #333;
  font-size: 13px;
}
main {
  width: 70vw;
  position: absolute;
  left: 30vw;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
}
section {
  width: 100%;
  height: 70%;
}
iframe {
  width: 60vw;
  height: 43vw;
}
section p {
  width: 60vw;
}
