* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
nav {
  width: 25vw;
  height: calc(100vh - 170px);
  position: fixed;
  left: 5vw;
  top: 220px;
  padding: 0px 70px 70px 0;
  overflow: scroll;
  border-right: 1px dashed lightgrey;
  cursor: ns-resize;
}
body > h1 {
  position: fixed;
  width: 25vw;
  top: 40px;
  margin-left: 4vw;
  font-family: "Megrim", cursive;
  font-size: 61px;
  z-index: 1;
}
h3 {
  margin-bottom: 0.5em;
}
ul {
  margin-bottom: 30px;
  list-style: none;
  padding-left: 0;
}
li {
  margin-bottom: 0.5em;
  cursor: pointer;
  font-size: 0.85em;
}
nav p {
  margin: 2em 2em 2em 0;
  font-family: sans-serif;
  color: #333;
  font-size: 13px;
}
main {
  width: 67vw;
  position: absolute;
  left: 31vw;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
}
section {
  width: 100%;
  height: 70%;
  padding-top: 50px;
}
iframe {
  width: 60vw;
  height: 43vw;
}
section p {
  width: 60vw;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: right;
  font-size: 13px;
  padding: 7px 6vw 7px 7px;
}
