* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
div:not([class]) {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid rgb(27, 58, 99, 0.9);
}
.bg {
  width: 90vw;
  height: 90vw;
  border-radius: 40vw;
  background-color: rgb(27, 58, 99, 0.9);
  position: fixed;
  bottom: -45vw;
  left: -45vw;
}
.text {
  width: 100vw;
  height: auto;
  padding: 70px 13vw;
  font-size: 32px;
  font-family: sans-serif;
  color: rgb(27, 58, 99, 0.9);
  overflow: scroll;
  text-align: justify;
}
.text p {
  pointer-events: none;
}
.desc {
  position: fixed;
  top: 23px;
  right: 9vw;
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(27, 58, 99, 0.7);
}
